@model List<TravelAgency.BusinessLayer.Slider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/admin/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Slider</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("index","dashboard",new { area="admin"})">Anasayfa</a>
            </li>
            <li class="active">
                <strong>Slider</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="@Url.Action("create","slider",new { area="admin"})" class="btn btn-outline btn-success dim">Yeni Slider Ekle</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Açıklaması</th>
                                    <th>Oluşturulma Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeX" id="tr_@item.Id">
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td>@String.Format("{0: dd MMMM yy}", item.CreatedDate)</td>
                                        <td>
                                            <a href="@Url.Action("edit","slider",new { id=item.Id})" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Düzenle</a>

                                            <button type="button" class="btn btn-danger btn-sm" onclick="doDeleteSlider(@item.Id);">
                                                <i class="fa fa-remove"></i> Sil
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Kategori Adı</th>
                                    <th>Kategori Açıklaması</th>
                                    <th>Oluşturulma Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/admin/js/plugins/jeditable/jquery.jeditable.js"></script>

<script src="~/Content/admin/js/plugins/dataTables/datatables.min.js"></script>


<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });

        /* Init DataTables */
        var oTable = $('#editable').DataTable();

        /* Apply the jEditable handlers to the table */
        oTable.$('td').editable('../example_ajax.php', {
            "callback": function (sValue, y) {
                var aPos = oTable.fnGetPosition(this);
                oTable.fnUpdate(sValue, aPos[0], aPos[1]);
            },
            "submitdata": function (value, settings) {
                return {
                    "row_id": this.parentNode.getAttribute('id'),
                    "column": oTable.fnGetPosition(this)[2]
                };
            },

            "width": "90%",
            "height": "100%"
        });


    });

    function fnClickAddRow() {
        $('#editable').dataTable().fnAddData([
            "Custom row",
            "New row",
            "New row",
            "New row",
            "New row"]);

    }

    function doDeleteSlider(sliderid) {
        var dialog_res = confirm("Seçilen slider silinsin mi?");

        if (!dialog_res) return false;

        $.ajax({
            method: "GET",
            url: "/admin/slider/Delete/" + sliderid,
        }).done(function (data) {

            if (data.result != null) {
                $('#tr_' + sliderid).remove();
            }
            else {
                alert("Slider silinemedi.");
            }

        }).fail(function () {
            alert("Sunucu ile bağlantı kurulamadı.");
        });

    }
</script>
